* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FDE7BB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification {
    border: soild #FC8F54;
    padding: 15px;
}