* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: max-content;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    background-color: #0E1D34;
    color:white;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    width: 100vw;
}

.logo {
    width: 200px;
}

.menu {
    width: 150vh;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    align-items: center;
    font-size: larger;
}

.menu a{
    text-decoration: none;
    cursor: default;
    color: white;
    opacity: 70%;
}

.menu button {
    color: white;
    border: none;
    background-color: #0D42FF;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}

.img-container {
    position: relative;
    height: 500vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin: 20px;
    flex-direction: column;
    height: 500vh;
}

.text {
    width: 100vh;
    color: white;
    font-size: larger;
}

.first-h {
    font-weight: bolder;
    font-size: 50px;
}

.background {
    background-color: #0E1D34;
    position: absolute;
    width: 100vw;
}

.text-container {
    width: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    height: 80px;
}

input {
    border: none;
    height: 80%;
    width: 70%;
}

input::placeholder {
    font-size: larger;
}

.Search {
    color: white;
    border: none;
    background-color: #0D42FF;
    width: 20%;
    height: 85%;
    border-radius: 7px;
    font-size: larger;
}

.products {
    width: 100vh;
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 50px;
    justify-content: space-around;
}

.number {
    color: white;
    font-size: 50px;
    text-align: center;
}

.a- {
    color: #0D42FF;
    font-size: 50px;
    text-align: center;
}

.des {
    color: white;
    font-size: 20px;
    text-align: center;
}