* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 50vh;
    justify-content: center;
    background-color: red;
}

.items {
    color: white;
    background-color: blue;
    border: 1px solid white;
    padding: 1rem;
    height: 100px;
}

.items::nth-child(3) {
    height: 200px;
}