* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: antiquewhite;
}

.information-header {
    margin: 20px;
    padding: 7px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    background-color: #36b5db;
    font-weight: bold;
}

.information-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    text-align: center;
}

.information-card {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    max-width: 230px;
    width: 100%;
    gap: 10px;
}

.information-card--header {
    color: #36b5db;
    font-weight: bold;
    text-align: center;
    font-size: 3vh;
    margin-bottom: 7px;
}

img {
    border-radius: 10px;
    width: 200px;
}

footer {
    padding-top: 10px;
    opacity: 70%;
    text-align: center;
}
